$grey-base: #f2f2f2;
$grey-light: #d1d2d3;
$grey-medium: #666665;
$purple-light: #3f3244;
$purple-medium: #2f2235;
$blue-light: #34d1d1;

$font: 'Open Sabs', sans-serif;

/* apply a natural box layout model to all elements, but allowing components to change */
*, *:before, *:after {
  box-sizing: inherit;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

html {
  box-sizing: border-box;
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

body {
  background-color: #fff;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

body > header {
  background-color: $purple-light;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  h1 {
    margin: 0;
    padding-left: 100px;
    font-weight: 300;
    span {
      color: $blue-light;
    }
  }
  hr {
    display: none;
  }
  h2 {
    padding-right: 100px;
    font-weight: 300;
  }
}

.btn {
  background-color: $purple-medium;
  color: #fff;
  padding: 10px;
  width: 200px;
}

.main-container {
  padding: 100px;
  width: calc(100% - 2rem);
  .btn-container {
    text-align: center;
    margin: 50px 0 0 0;
  }
}

.accordion-tabs {
  //text-align: left;
  min-height: 400px;
  h2 {

  }
  .accordion-container {
    padding: 0;
    margin: 50px 0 0 0;
    position: relative;
    .accordion {
      display: none;
      padding: 15px;
      position: absolute;
      top: 42px;
      left: 0;
      border-right: 1px solid #222;
      border-left: 1px solid #222;
      border-bottom: 1px solid #222;
    }
    li {
      //list-style: none;
      //display: inline;
      //width: calc(25% - 4px);
      list-style: none;
      /* display: inline; */
      width: 25%;
      float: left;
      border-top: 1px solid #222;
      border-right: 1px solid #222;
      border-left: 1px solid #222;
      a {
        padding: 10px 20px;
        text-decoration: none;
        display: inline-block;
        //width: calc(25% - 4px);
        width: 100%;
        color: #fff;
        background-color: $purple-medium;
      }
      a.active {
        background-color: #fff;
        color: #3f3244;
      }
      a:hover {
        background-color: #fff;
        color: #3f3244;
      }
      .img-placeholder {
        background-color: #ccc;
        width: 30%;
        height: 100%;
      }
      .accordion-content {
        width: 70%;
        height: 100%;
      }
    }
  }
}

.flexible-cards-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: calc(33.33% - 1rem) calc(33.33% - 1rem) 33.33%;
  .row {
    //display: flex;
  }
  .card.card-2x {
    grid-column-end: span 2;
  }
  .card {
    border: 1px solid $grey-light;
    header {
      margin: 0;
      padding: 1rem 0 1rem 10px;
      background-color: #fff;
      p {
        margin: 0;
      }
    }
    .card-body {
      height: 240px;
      background-color: $grey-base;
    }
  }
}

@media only screen and (max-width: 768px) {
  .flexible-cards-container {
    .card,
    .card.card-2x {
      grid-column-end: span 3;
    }
  }
}

.header-bar {
  .header-bar-container {
    margin: 50px 0;
  }
  .mobile-nav {
    display: none;
  }
  a.menu-link {
    float: left;
    display: block;
    padding: 1em;
  }
  .menu {
    clear: both;
    transition: all 0.3s ease-out;
  }
  .js .menu {
    overflow: hidden;
    max-height: 0;
    background: $grey-light;
  }
  .menu.active,
  .js .menu > ul ul.active {
    max-height: 200px;
  }
  .menu li a {
    color: $grey-medium;
    display: block;
    padding: 5px;
    position: relative;
    text-decoration: none;
  }
  .search {
    float: right;
    padding-right: 2rem;
  }
  .circle {
    width: 40px;
    height: 40px;
    background: grey;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  }

  @media screen and (min-width: 900px) {
    .js .menu {
      max-height: none;
      overflow: visible;
      background: none;
    }
    a.menu-link {
      display: none;
    }
    #menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $grey-medium;
      ul {
        margin: 5px 0;
        display: flex;
        align-items: center;
        padding: 0 0 0 1rem;
        li {
          display: inline-block;
          position: relative;
          a {
            color: #fff;
            margin-left: 1.5rem;
          }
        }
      }
      #search {
        display: inline-block;
        margin: 0 1rem 0 0;
        height: 1.5rem;
      }
      .circle {
        margin-left: 1rem;
      }
    }
  }

  @media screen and (max-width: 899px) {
    .mobile-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $grey-medium;
      padding: 0 10px
    }
    #menu {
      ul li {
        list-style-type: none;
      }
      .circle,
      .search {
        display: none;
      }
      #search {
        margin: 0 0 1rem 40px;
      }
    }
    a.menu-link {
      color: $grey-base;
      text-decoration: none;
      float: right;
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .header-bar #menu ul li a {
    margin-left: 5px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .main-container {
    padding: 0 1rem;
    margin: 0 auto;
  }
  body > header {
    h1 {
      text-align: left;
      padding: 0 0 0 1rem;
    }
    h2 {
      padding: 0 1rem 0 0;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  body > header {
    background-color: $purple-medium;
    height: auto;
    display: block;
    justify-content: center;
    color: #fff;
    h1 {
      text-align: center;
      padding: 1rem 0 1rem 0;
    }
    hr {
      display: block;
      width: 40%;
      margin: 0 auto 0;
    }
    h2 {
      text-align: center;
      padding: .5rem 0 1rem 0;
      margin: 0;
      font-size: 1rem;
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}