/* apply a natural box layout model to all elements, but allowing components to change */
*, *:before, *:after {
  box-sizing: inherit; }

.group:after {
  content: "";
  display: table;
  clear: both; }

html {
  box-sizing: border-box;
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  margin: 0; }

body {
  background-color: #fff; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

body > header {
  background-color: #3f3244;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff; }
  body > header h1 {
    margin: 0;
    padding-left: 100px;
    font-weight: 300; }
    body > header h1 span {
      color: #34d1d1; }
  body > header hr {
    display: none; }
  body > header h2 {
    padding-right: 100px;
    font-weight: 300; }

.btn {
  background-color: #2f2235;
  color: #fff;
  padding: 10px;
  width: 200px; }

.main-container {
  padding: 100px; }
  .main-container .btn-container {
    text-align: center; }

.accordion-tabs {
  min-height: 400px; }
  .accordion-tabs .accordion-container {
    padding: 0;
    margin: 50px 0 0 0;
    position: relative; }
    .accordion-tabs .accordion-container .accordion {
      display: none;
      padding: 15px;
      position: absolute;
      top: 42px;
      left: 0;
      border-right: 1px solid #222;
      border-left: 1px solid #222;
      border-bottom: 1px solid #222; }
    .accordion-tabs .accordion-container li {
      list-style: none;
      /* display: inline; */
      width: 25%;
      float: left;
      border-top: 1px solid #222;
      border-right: 1px solid #222;
      border-left: 1px solid #222; }
      .accordion-tabs .accordion-container li a {
        padding: 10px 20px;
        text-decoration: none;
        display: inline-block;
        width: 100%;
        color: #fff;
        background-color: color(purple, medium); }
      .accordion-tabs .accordion-container li a.active {
        background-color: #fff;
        color: #3f3244; }
      .accordion-tabs .accordion-container li a:hover {
        background-color: #fff;
        color: #3f3244; }
      .accordion-tabs .accordion-container li .img-placeholder {
        background-color: #ccc;
        width: 30%;
        height: 100%; }
      .accordion-tabs .accordion-container li .accordion-content {
        width: 70%;
        height: 100%; }

.header-bar .header-bar-container {
  margin: 50px 0; }
.header-bar .mobile-nav {
  display: none; }
.header-bar a.menu-link {
  float: left;
  display: block;
  padding: 1em; }
.header-bar .menu {
  clear: both;
  transition: all 0.3s ease-out; }
.header-bar .js .menu {
  overflow: hidden;
  max-height: 0;
  background: #d1d2d3; }
.header-bar .menu.active,
.header-bar .js .menu > ul ul.active {
  max-height: 200px; }
.header-bar .menu li a {
  color: #666665;
  display: block;
  padding: 5px;
  position: relative;
  text-decoration: none; }
.header-bar .search {
  float: right;
  padding-right: 2rem; }
.header-bar .circle {
  width: 40px;
  height: 40px;
  background: grey;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px; }
@media screen and (min-width: 900px) {
  .header-bar .js .menu {
    max-height: none;
    overflow: visible;
    background: none; }
  .header-bar a.menu-link {
    display: none; }
  .header-bar #menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #666665; }
    .header-bar #menu ul {
      margin: 5px 0;
      display: flex;
      align-items: center;
      padding: 0 0 0 1rem; }
      .header-bar #menu ul li {
        display: inline-block;
        position: relative; }
        .header-bar #menu ul li a {
          color: #fff;
          margin-left: 1.5rem; }
    .header-bar #menu #search {
      display: inline-block;
      margin: 0 1rem 0 0;
      height: 1.5rem; }
    .header-bar #menu .circle {
      margin-left: 1rem; } }
@media screen and (max-width: 899px) {
  .header-bar .mobile-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #666665;
    padding: 0 10px; }
  .header-bar #menu ul li {
    list-style-type: none; }
  .header-bar #menu .circle,
  .header-bar #menu .search {
    display: none; }
  .header-bar #menu #search {
    margin: 0 0 1rem 40px; }
  .header-bar a.menu-link {
    color: #f2f2f2;
    text-decoration: none;
    float: right; } }

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .header-bar #menu ul li a {
    margin-left: 5px; } }
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .main-container {
    padding: 1rem; }

  body > header h1 {
    text-align: left;
    padding: 0 0 0 1rem; }
  body > header h2 {
    padding: 0 1rem 0 0; } }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  body > header {
    background-color: #2f2235;
    height: auto;
    display: block;
    justify-content: center;
    color: #fff; }
    body > header h1 {
      text-align: center;
      padding: 1rem 0 1rem 0; }
    body > header hr {
      display: block;
      width: 40%;
      margin: 0 auto 0; }
    body > header h2 {
      text-align: center;
      padding: .5rem 0 1rem 0;
      margin: 0;
      font-size: 1rem; } }
/* Custom, iPhone Retina */

/*# sourceMappingURL=main.css.map */
