$purple: #2f2235;
$party: #34d1d1;
$font: 'Roboto', sans-serif;

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

body {
  background-color: #fff;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

header {
  background-color: $purple;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  h1 {
    margin: 0;
    padding-left: 100px;
    span {
      color: $party;
    }
  }
  h2 {
    padding-right: 100px;
  }
}

.main-container {
  padding: 100px;
}

.accordion-tabs {
  border-bottom: 1px solid #ccc;
  text-align: left;
  h2 {

  }
}