$purple: #2f2235;
$party: #34d1d1;
$font: 'Roboto', sans-serif;

/* apply a natural box layout model to all elements, but allowing components to change */
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

body {
  background-color: #fff;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

body > header {
  background-color: $purple;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  h1 {
    margin: 0;
    padding-left: 100px;
    span {
      color: $party;
    }
  }
  h2 {
    padding-right: 100px;
  }
}

.main-container {
  padding: 100px;
}

.accordion-tabs {
  text-align: left;
  h2 {

  }
  .accordion {
    border: 1px solid #222;
    padding: 0;
    margin-top: 50px;
    position: relative;
    section {
      display: none;
      padding: 15px;
      position: absolute;
      top: 42px;
      left: 0;
      border-bottom: 1px solid #ccc;
    }
    li {
      list-style: none;
      display: inline;
      width: calc(25% - 4px);
      a {
        padding: 10px 20px;
        text-decoration: none;
        background-color: $purple;
        color: #fff;
        display: inline-block;
        width: calc(25% - 4px);
      }
      a.active {
        background-color: #fff;
        color: #3f3244;
      }
      a:hover {
        background-color: #fff;
        color: #3f3244;
      }
    }
  }
}